h1 {
	font-family: 'Rock Salt', cursive; 
	color: #FC4A1A; 
	font-size: 120%;
	text-align: center; 
}

ul {
  list-style-type: none;
}

#nav {
	text-align: center; 
}

body {
	background-color: #393939; 
	color: #FFFFFF; 
}
