h1 {
	font-family: 'Rock Salt', cursive; 
	color: #e3c604; 
	font-size: 250%;
	text-align: center; 
	text-shadow: 2px 2px; 
}

ul {
  list-style-type: none;
}

#nav {
	text-align: center;
	color: #f7cac9; 
}

body {
	background-color: #307aba;
	color: #FFFFFF;
}

