h1 {
	font-family: 'Rock Salt', cursive; 
	color: #d9b0b0; 
	font-size: 250%;
	text-align: center; 
}

ul {
  list-style-type: none;
}

#nav {
	text-align: center;
	color: #f7cac9; 
}

body {
	background-color: #6badef;
	color: #FFFFFF;
}

